.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
public/assets/css/f*.css
public/assets/css/animation.css
public/assets/css/server.css
public/assets/css/client.css
public/assets/font/
.env
.eslintcache
storybook-static
.nyc_output
coverage