// borders
$border-bottom: 1px solid rgba(255, 62, 0, 0.1);

// colors
$light-color: #fff;
$select-color: #ff3e00;
$soft-light-color: #f9f9f9;

// margins
$soft-margin: 0 0 0.5em 0;
$width-margin: 0 auto;

// shadows
$shadow-box: inset 1px 1px 5px rgba(0, 0, 0, 0.05);

// text
$text-bold-weight: 700;
$text-light-bold-weight: 500;

// web
$web-header-size: 4em;
$web-width: 450px;
