.content__container {
  @import '../../styles/list.scss';

  h2 {
    font-size: 1.4em;
    font-weight: 500;
  }

  pre {
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    border-radius: 2px;
    overflow-x: auto;

    code {
      background-color: transparent;
      padding: 0;
    }
  }

  a {
    text-decoration: underline;
    padding: 0;
    display: contents;
    align-items: unset;
  }

  p {
    text-align: left;
  }

  p.center {
    text-align: center;
  }

  ul {
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;

    li {
      display: list-item;
      margin: 0 0 0.5em 0;
      width: 100%;
    }
  }
}
